.container{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 200px 600px 200px;
    grid-template-areas: 
    " a a"
    " b c"
    " d d";
    width: 1280px;
}

header{
    grid-area: a;
}
aside{
 grid-area: b;
}
.content{
    grid-area: c;
   display: flex;
   flex-direction: column;
   
}

footer{
    grid-area: d;
}

.a1{
    text-decoration: none;
    
}



a{
    text-decoration: none;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a2{
    color: white;
}

.a1:hover{
    color: #da2121;
    text-decoration: none;
}

.a2:hover{
    
    text-decoration: none;
 }
.ra{
    color: black;
}

.colblue{
    color: rgb(75, 148, 211);
}

.header1{
    margin-left: 98px;
    
    
}

.header2{
    display: grid;
    grid-template-columns: 200px 80px 150px 120px;
    margin: 0 auto;
    height: 69px;
    grid-column-gap: 2px;   
    background-color: #35444F;
    margin-left: 98px;
    margin-right: 98px;
    
}

.header3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    margin-left: 98px;
    margin-right: 98px;
}

.header21{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white ;
    border-left: 2px solid white ;
}

.header21:hover{
    background-color:#222F3A;
    text-decoration: none;
 }

.header22{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white ;
}

.header22:hover{
    background-color:#222F3A;
    text-decoration: none;
 }

.header23{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white ;
}

.header23:hover{
    background-color:#222F3A;
    text-decoration: none;
 }

.header24{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white ;
}


.header24:hover{
    background-color:#222F3A;
    text-decoration: none;
 }

aside{
    display: grid;
    grid-template-rows: 81px 81px 81px 81px 81px ;
    margin-left: 98px;
    border: 1px solid black;
    height: 405px;
}

/* .container2{
    border: 1px solid red;
} */

.a3{
   color: black; 
}
 
.a3:hover{
    
    text-decoration: none;
    
}

.main1{
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 81px;
}

.main1:hover{
   background-color: #DBDBDB;
   text-decoration: none;
   padding-left: 64px;
   font-weight: 600;
}

.main2{
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 81px;
}

.main2:hover{
   background-color: #DBDBDB;
   text-decoration: none;
   padding-left: 64px;
   font-weight: 600;
}

.main3{
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 81px;
}

.main3:hover{
   background-color: #DBDBDB;
   text-decoration: none;
   padding-left: 64px;
   font-weight: 600;
}

.main4{
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 81px;
}

.main4:hover{
   background-color: #DBDBDB;
   text-decoration: none;
   padding-left: 64px;
   font-weight: 600;
}

.main5{
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 81px;
}

.main5:hover{
   background-color: #DBDBDB;
   text-decoration: none;
   padding-left: 64px;
   font-weight: 600;
}

.content{
    height: 883px;
    display: flex;
    
}


.content1{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 98px;
   margin-left: 52px;
   height: 530px;
   border: 1px solid black;
}

.content2{
    height: 120px;
    margin-top: 24px;
    margin-right: 98px;
    margin-left: 52px;
}

.content3{
    height: 109px;
    margin-right: 98px;
    margin-left: 52px;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    display:flex;
    margin: 98px;
    margin-top: 200px;
    height: 68px;
    
    justify-content: center;
    align-items: center;
    background-color: #848c92;
    
}   

.footer1{
    display:flex;
   flex-grow: 1;
    background-color: #848c92;
    justify-content: center;
    align-items: center;
}

.a4{
    text-decoration: none;
    color: #0C1927;
}

.a4:hover{
    color: #3181A6;
}

.footer2{
    display:flex;
    flex-grow: 1;
    background-color: #848c92;
    justify-content: center;
    align-items: center;
}


.footer3{
    display:flex;
   flex-grow: 1;
    background-color:#848c92;
    justify-content: center;
    align-items: center;
}


.footer4{
    display:flex;
    flex-grow: 1;
     background-color: #848c92;
     justify-content: center;
     align-items: center;
 }

 .footer5{
    display:flex;
    flex-grow: 1;
     background-color:#848c92;
     justify-content: center;
     align-items: center;
 }

 .footer6{
/*    
    flex-grow: 5; */
    background-color:#848c92;
    padding-left: 120px;
    padding-right: 20px;
    
 }